<div class='welcome-message'>
    <h1>The Tech Blog </h1>
    <p>Fun and informative blogs. Feel free to share blogs of your own or just read and comment on others.</p>
    {{#unless logged_in}}
      <p> Create an account and start to engage with the community through writing your own blog posts or comments.</p>
    
      <!-- Button linking to the login page -->
      <a href='/login'><button class='btn btn-primary cta-button' type='submit' >Create Account</button></a>
    {{/unless}}
</div>

{{#each blogs as |blog| }}
<div class='row mb-4 blog'>
  <div class='col-md-5'>
    <h2>
      <!-- Link to emoji and title of blog -->
      <a class='title' href='/blog/{{blog.id}}'>{{{get_emoji}}} {{blog.title}}</a>
    </h2>

    <!-- Displays who created the blog and when -->
    <p class='author'>Created by: {{blog.user.name}} on {{format_date blog.date_created}}</p>
  </div>
  
  <div class='col-md-7'>
    <!-- Display the blog description -->
    <p>{{blog.description}}</p>
  </div>
</div>
{{/each}}